version: "3"
services:
  app:
    image: ngsolve:debian
    build:
      context: ngsolve
      dockerfile: Dockerfile
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/root/.Xauthority:rw
    network_mode: host
